---
import Base from '../../layouts/base.astro';
import HomeNav from '../../components/navigation/home_nav';
import { getEntry } from 'astro:content';
import { Image } from 'astro:assets';

const {slug} = Astro.params

//@ts-ignore
const blogPost = await getEntry('blog', slug)
if(!blogPost){
    return Astro.redirect('/404')
}
const frontmatter = blogPost?.data;
const meta = await blogPost?.render()
const BASE_URL = Astro.url.host

//@ts-ignore
const {Content} = await blogPost?.render()
---

<Base
    description={frontmatter?.description}
    img={frontmatter?.img?.src || "/assets/banner.png"}
    selection_only={frontmatter?.selection_only}
    color={frontmatter?.color}
    bg={frontmatter?.bg}
    selection_bg={frontmatter?.selection_bg}
    selection_color={frontmatter?.selection_color}
    title={(frontmatter?.type == "notes")?(frontmatter?.title + " | Ishan's Jots"):(frontmatter?.title + " | Ishan Writes")}
>
    <HomeNav
        title={frontmatter?.title}
        color={frontmatter?.color}
        bg={frontmatter?.bg}
        client:load
    />
    <div
        id="content"
        class="flex flex-col justify-center items-center"
    >
        <div class="md:px-20 px-4 flex flex-col">
            <div class="w-4/5">
                <div class="py-2 md:pt-5">
                    <a
                    href={'/categories/' + frontmatter?.category}
                    id="cat" class="p-1">{frontmatter?.category}</a
                    >
                    {
                        frontmatter?.tags.map((tag: string) => {
                            return (
                                <a href={'/tags/' + tag} class="pl-5 bg-white">
                                    {tag}
                                </a>
                            );
                        })
                    }
                </div>
                <div>
                    <h1 class="md:text-5xl text-4xl font-heading leading-relaxed md:py-6">
                        {frontmatter?.title}
                    </h1>
                    <div>
                        <p class="font-serif text-base leading-loose">
                            {frontmatter?.description}
                        </p>
                    </div>
                </div>
                <Content />
                <span class="block w-40 h-1 mt-5 my-5 bg-blue-800"></span>
                <span class="block w-40 h-1 mb-5 bg-red-600"></span>
            </div>
        </div>
    </div>
    <style define:vars={{
        section_bg: frontmatter?.bg,
        section_color: frontmatter?.color,
    }}>
        .section_colored {
            background-color: var(--section_bg);
            color: var(--section_color);
        }
        #cat{
            background-color: var(--bg);
            color: var(--color);
        }
    </style>
</Base>
