---
import Base from '../../layouts/base.astro';
import HomeNav from '../../components/navigation/home_nav';
import { getCollection, getEntry } from 'astro:content';
import { Image } from 'astro:assets';

const {slug} = Astro.params

//@ts-ignore
const blogPost = await getEntry('blog', slug)
const frontmatter = blogPost?.data;
const meta = await blogPost?.render()
const BASE_URL = Astro.url.host

//@ts-ignore
const {Content} = await blogPost?.render()
---

<Base
    description={frontmatter?.description}
    img={frontmatter?.img?.src || "/assets/banner.png"}
    selection_only={frontmatter?.selection_only}
    color={frontmatter?.color}
    bg={frontmatter?.bg}
    selection_bg={frontmatter?.selection_bg}
    selection_color={frontmatter?.selection_color}
    title={(frontmatter?.type == "notes")?(frontmatter?.title + " | Ishan's Jots"):(frontmatter?.title + " | Ishan Writes")}
>
    <HomeNav
        title={frontmatter?.title}
        color={frontmatter?.color}
        bg={frontmatter?.bg}
        client:load
    />
    <div
        id="content"
        class="flex md:flex-row md:mt-2 mt-4 flex-col justify-center"
    >
        <div class="p-4 md:w-4/6 w-full">
            <div class="md:p-10">
                {
                    frontmatter?.emoji &&
                    (
                        <p onclick={`navigator.clipboard.writeText('http://${BASE_URL}/e/${frontmatter.emoji}')`} class="md:text-6xl text-4xl cursor-pointer"
                        >
                            <span id="emoji">{frontmatter.emoji}</span>
                        </p>
                    )
                }
                <h1
                    class="md:text-5xl text-4xl font-heading md:py-3 leading-relaxed"
                >
                    {frontmatter?.title}
                </h1>
                <p class="text-gray-500 md:text-3xl text-2xl py-5">
                    {frontmatter?.date.toDateString()} • {
                        meta?.remarkPluginFrontmatter?.minutesRead
                    } • {
                        meta?.remarkPluginFrontmatter?.wordsRead
                    } words
                </p>
                {
                    frontmatter?.img && (
                        <div class="py-1">
                            <Image
                                class="rounded-md"
                                src={frontmatter.img}
                                alt={frontmatter?.title}
                            />
                        </div>
                    )
                }
                <Content />
            </div>
            <div>
                <span class="block w-40 h-1 mt-5 my-5 bg-blue-800"></span>
                <span class="block w-40 h-1 mb-5 bg-red-600"></span>
                <h3
                    class="md:text-4xl text-2xl font-heading leading-relaxed py-5"
                >
                    Posted in <a
                        href={'/categories/' + frontmatter?.category}
                        class="">@{frontmatter?.category}</a
                    >
                </h3>
                {
                    frontmatter?.tags.map((tag: string) => {
                        return (
                            <span class="md:text-2xl text-xl pr-5">
                                <a href={'/tags/' + tag} class="">
                                    #{tag}
                                </a>
                            </span>
                        );
                    })
                }
            </div>
        </div>
    </div>
</Base>
