---
import Base from '../../layouts/base.astro';
import HomeNav from '../../components/navigation/home_nav';
import { getEntry, getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Spotify from '../../components/utils/md/audio/spotify.astro';

const { slug } = Astro.params;

//@ts-ignore
const blogPost = await getEntry('blog', slug);
const frontmatter = blogPost?.data;
const meta = await blogPost?.render();
const BASE_URL = Astro.url.host;
const share_url = Astro.url.host + Astro.url.pathname;

//@ts-ignore
const { Content } = await blogPost?.render();

const posts = await getCollection('blog');
let recommended: any = [];

for (let i = 0; i < posts.length; i++) {
    if (posts[i].data.category == frontmatter?.category) {
        recommended.push(posts[i]);
    }
}
for (let i = 0; i < posts.length; i++) {
    frontmatter?.tags.forEach((tag: string) => {
        if (posts[i].data.tags.includes(tag)) {
            recommended.push(posts[i]);
        }
    });
}
recommended = recommended.filter((item: any, index: number) => {
    return recommended.indexOf(item) === index;
});
recommended = recommended.filter((item: any) => {
    return item.data.title != frontmatter?.title && item.data.draft != true;
});
recommended = recommended.slice(0, 5);

type headings = {
    depth: number;
    slug: string;
    text: string;
}[];
//@ts-ignore
const headings: headings = meta?.headings;
---

<Base
    description={frontmatter?.description}
    img={frontmatter?.img?.src || '/assets/banner.png'}
    selection_only={frontmatter?.selection_only}
    color={frontmatter?.color}
    bg={frontmatter?.bg}
    selection_bg={frontmatter?.selection_bg || '#facc15'}
    selection_color={frontmatter?.selection_color ||
        '#000'}
    title={frontmatter?.type == 'notes'
        ? frontmatter?.title + " | Ishan's Jots"
        : frontmatter?.title + ' | Ishan Writes'}
>
    <HomeNav
        title={frontmatter?.title}
        color={frontmatter?.color}
        bg={frontmatter?.bg}
        client:load
    />
    <div>
        <div
            id="searchBar"
            style="display:none"
            class="z-10 bg-white dark:bg-dark drop-shadow-md shadow-black p-0.5 fixed top-0 left-0 w-full"
        >
            <div class="flex flex-row justify-between items-center p-2">
                <div class="md:w-2/6 flex-shrink-0 flex flex-row mx-5">
                    <div>
                        <a href="/">
                            <img
                                width={24}
                                height={24}
                                class="w-8 h-8"
                                src="/logo192.webp"
                                alt="NoobScience Logo"
                            />
                        </a>
                    </div>
                    <a
                        href="/"
                        class="md:block hidden text-lg pl-2 pt-0.5 font-bold"
                    >
                        {frontmatter?.title}
                    </a>
                </div>
                <div class="md:w-3/6 w-full">
                    <form
                        onsubmit={`window.location.href = '/search/' + document.getElementById('search').value; return false;`}
                    >
                        <div
                            class="flex text-black flex-row items-center w-full border-2 border-b-4 border-r-4 border-black dark:border-white rounded-2xl"
                        >
                            <input
                                autocomplete="off"
                                spellcheck="false"
                                class="w-full dark:bg-dark py-1 focus:outline-none rounded-2xl px-2"
                                type="search"
                                name="search"
                                placeholder="Press Ctrl+K to Search"
                                id="search"
                            />
                            <button class="w-1/6 rounded-2xl">
                                <div
                                    class="md:block hidden py-1 rounded-r-xl bg-yellow-400"
                                >
                                    Search
                                    <i class="bi bi-search"></i>
                                </div>
                                <span
                                    class="md:hidden block rounded-r-xl py-1 bg-yellow-400"
                                >
                                    <i class="bi bi-search"></i>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center">
        <div class="md:w-4/5">
            <div
                class={`p-1 md:pt-10 md:pl-8 px-2 ${
                    frontmatter?.full_img != false ? 'section_colored' : ''
                }`}
            >
                <h1 class="md:text-4xl text-2xl py-2">
                    <span
                        class="cursor-pointer"
                        onclick=`
                navigator.clipboard.writeText('${BASE_URL}/e/${frontmatter?.emoji}');
                alert('Copied to clipboard!')
                `
                    >
                        {frontmatter?.emoji}
                    </span>
                </h1>
                <div class="py-2 md:pt-5 flex flex-row flex-wrap">
                    <a
                        href={'/categories/' + frontmatter?.category}
                        id="cat"
                        class="p-0.5 mr-5">{frontmatter?.category}</a
                    >
                    {
                        frontmatter?.tags.map((tag: string) => {
                            return (
                                <a href={'/tags/' + tag} class="pr-5">
                                    {tag}
                                </a>
                            );
                        })
                    }
                </div>
                <div class="pb-2">
                    {
                        frontmatter?.draft && (
                            <h1 class="md:my-8">
                                <span class="text-white bg-red-500 font-bold p-2 md:text-3xl text-xl">
                                    Hold your horses! This is a draft. It will
                                    be published soon.
                                </span>
                            </h1>
                        )
                    }
                    <h1
                        class="md:text-6xl text-4xl font-heading leading-snug md:py-5 py-2"
                    >
                        {frontmatter?.title}
                    </h1>
                    <div class="">
                        <p
                            class="font-sans md:text-lg md:pb-2 text-base leading-relaxed"
                        >
                            {frontmatter?.description}
                        </p>
                        <p class="font-sans text-base leading-loose py-1">
                            {
                                frontmatter?.date &&
                                    new Date(frontmatter.date).toDateString()
                            } | {
                                Math.round(
                                    meta?.remarkPluginFrontmatter.wordsRead /
                                        265
                                )
                            } min read
                        </p>
                        {
                            frontmatter?.series && (
                                <p>
                                    Part of the{' '}
                                    <a
                                        id="cat"
                                        href={`/series/${frontmatter?.series}`}
                                    >
                                        {frontmatter?.series}
                                    </a>{' '}
                                    series.
                                </p>
                            )
                        }
                    </div>
                    {
                        frontmatter?.img && (
                            <div class={`py-5`}>
                                <Image
                                    class="rounded-md"
                                    src={frontmatter.img}
                                    alt={frontmatter?.title}
                                />
                            </div>
                        )
                    }
                </div>
            </div>
            <div class="flex flex-col justify-center md:pb-10">
                <div
                    id="searchTrigger"
                    class="md:pl-8 px-2 flex flex-col md:flex-row"
                >
                    <div
                        class=`w-full py-4 overflow-x-hidden ${frontmatter?.type == 'quick'?'md:pl-0':'md:pr-10'}`
                    >
                        {
                            frontmatter?.audio && (
                                <div class={`items-center w-full py-5`}>
                                    <Spotify url={frontmatter.audio} />
                                </div>
                            )
                        }
                        {frontmatter?.type != 'quick' && <div></div>}
                        <div class={`md:p-0 p-2 font-${frontmatter?.font}`}>
                            <Content />
                        </div>
                    </div>
                    <!-- <div class=`md:w-1/6 w-full md:pt-16 px-2 overflow-x-auto md:sticky md:pr-6 md:pl-0 md:top-0 md:h-screen overflow-y-none flex flex-col ${frontmatter?.type == "quick" && 'hidden'}`>
                <h2 class="text-lg py-1">
                    ➡️ Table of Contents
                </h2>
                <ul class="py-1">
                    {
                        headings.map((heading) => {
                            return (
                                <li class="cursor-pointer transform hover:translate-x-1 transition duration-300 ease-in-out">
                                    <a
                                        href={`#${heading.slug}`}
                                        class=`text-base ${heading.depth == 2 ? 'font-semibold' : ''} ${heading.depth == 3 ? 'pl-3 font-normal' : ''} truncate`
                                    >
                                        {heading.text}
                                    </a>
                                </li>
                            );
                        })
                    }
                </ul>
            </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col md:flex-row justify-center md:pt-8">
        <div class="md:w-3/5 w-full">
            <h1 class="text-center text-2xl">
                Feel free to leave a comment below!
            </h1>
            <script
                src="https://utteranc.es/client.js"
                repo="newtoallofthis123/comments"
                issue-term="pathname"
                label="comment"
                theme="preferred-color-scheme"
                crossorigin="anonymous"
                async></script>
            <div class="text-center my-2">
                <button class="special_btn rounded-3xl">
                    <a
                        href=`https://github.com/newtoallofthis123/noobscience/tree/master/src/content/blog/${slug}.mdx`
                    >
                        Edit the post on <i class="bi bi-github"></i> Github
                    </a>
                </button>
            </div>
        </div>
        <div class="md:w-2/5 w-full p-2">
            <h2 class="text-2xl">Recommended Reading</h2>
            <p class="leading-snug text-base py-2">
                Recommendations are based on the category and tags of this post.
            </p>
            <div>
                {
                    recommended.map((post: any) => {
                        return (
                            <div class="py-2">
                                <a href={`/blog/${post.slug}`}>
                                    <h3 class="text-xl">
                                        {post.data.emoji} {post.data.title}
                                    </h3>
                                </a>
                                <p class="text-base">{post.data.description}</p>
                            </div>
                        );
                    })
                }
            </div>
        </div>
    </div>
    <style
        define:vars={{
            section_bg: frontmatter?.bg,
            section_color: frontmatter?.color,
        }}
    >
        .section_colored {
            background-color: var(--section_bg);
            color: var(--section_color);
        }
        #cat {
            background-color: var(--selection_bg);
            color: var(--selection_color);
        }
        .special_btn {
            background-color: var(--selection_bg);
        }
        .special_btn a {
            color: var(--selection_color);
        }
    </style>
    <script>
        // Get references to the necessary elements
        const triggerDiv = document.getElementById('searchTrigger');
        const fixedSearchBar = document.getElementById('searchBar');

        // @ts-ignore
        const triggerDivPosition = triggerDiv.offsetTop;

        // Function to toggle the visibility of the fixed search bar
        function toggleSearchBar() {
            if (window.pageYOffset > triggerDivPosition) {
                // @ts-ignore
                fixedSearchBar.style.display = 'block';
            } else {
                // @ts-ignore
                fixedSearchBar.style.display = 'none';
            }
        }
        // Listen for scroll events and call the toggleSearchBar function
        window.addEventListener('scroll', toggleSearchBar);

        //bind ctrl + f to trigger cursor on search bar
        document.addEventListener('keydown', function (e) {
            if (e.ctrlKey && e.key === 'k') {
                e.preventDefault();
                // @ts-ignore
                document.getElementById('search').focus();
            }
        });
    </script>
</Base>
