---
import Base from '../../layouts/base.astro';
import HomeNav from '../../components/navigation/home_nav';
import { getEntry, getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const { slug } = Astro.params;

//@ts-ignore
const blogPost = await getEntry('blog', slug);
if (!blogPost) {
    return Astro.redirect('/404');
}
const frontmatter = blogPost?.data;
const meta = await blogPost?.render();
const BASE_URL = Astro.url.host;
const share_url = Astro.url.host + Astro.url.pathname;

//@ts-ignore
const { Content } = await blogPost?.render();

const posts = await getCollection('blog');
let recommended: any = [];

for (let i = 0; i < posts.length; i++) {
    if (posts[i].data.category == frontmatter.category) {
        recommended.push(posts[i]);
    }
}
for (let i = 0; i < posts.length; i++) {
    frontmatter.tags.forEach((tag: string) => {
        if (posts[i].data.tags.includes(tag)) {
            recommended.push(posts[i]);
        }
    });
}
recommended = recommended.filter((item: any, index: number) => {
    return recommended.indexOf(item) === index;
});
recommended = recommended.filter((item: any) => {
    return item.data.title != frontmatter.title && item.data.draft != true;
});
recommended = recommended.slice(0, 5);

type headings = {
    depth: number;
    slug: string;
    text: string;
}[];
const headings:headings= meta.headings;
---

<Base
    description={frontmatter?.description}
    img={frontmatter?.img?.src || '/assets/banner.png'}
    selection_only={frontmatter?.selection_only}
    color={frontmatter?.color}
    bg={frontmatter?.bg}
    selection_bg={frontmatter?.selection_bg}
    selection_color={frontmatter?.selection_color}
    title={frontmatter?.type == 'notes'
        ? frontmatter?.title + " | Ishan's Jots"
        : frontmatter?.title + ' | Ishan Writes'}
>
    <HomeNav
        title={frontmatter?.title}
        color={frontmatter?.color}
        bg={frontmatter?.bg}
        client:load
    />
    <div
        class={`p-1 flex flex-col justify-center md:pt-10 ${
            frontmatter.full_img != false ? 'section_colored' : ''
        }`}
    >
        <div class="md:px-20 px-2 flex flex-col">
            <div class="md:w-4/5 w-full">
                <h1 class="md:text-4xl text-xl cursor-pointer" onclick=`
                navigator.clipboard.writeText('${BASE_URL}/e/${frontmatter.emoji}');
                alert('Copied to clipboard!')
                `>
                    {
                        "/e/" + frontmatter.emoji
                    }
                </h1>
                <div class="py-2 md:pt-5 flex flex-row flex-wrap">
                    <a
                        href={'/categories/' + frontmatter?.category}
                        id="cat"
                        class="p-0.5 mr-5">{frontmatter?.category}</a
                    >
                    {
                        frontmatter?.tags.map((tag: string) => {
                            return (
                                <a href={'/tags/' + tag} class="pr-5">
                                    {tag}
                                </a>
                            );
                        })
                    }
                </div>
                <div class="pb-2">
                    {
                        frontmatter.draft && (
                            <h1 class="md:my-8">
                                <span class="text-white bg-red-500 font-bold p-2 md:text-3xl text-xl">
                                    Hold your horses! This is a draft. It will be published soon.
                                </span>    
                            </h1>
                        )
                    }
                    <h1
                        class="md:text-5xl text-4xl font-heading leading-snug md:py-3 py-2"
                    >
                        {frontmatter?.title}
                    </h1>
                    <div>
                        <p class="font-sans md:text-lg text-base leading-loose">
                            {frontmatter?.description}
                        </p>
                        <p class="font-sans text-base leading-loose py-1">
                            {new Date(frontmatter?.date).toDateString()} | {
                                meta.remarkPluginFrontmatter.minutesRead
                            }
                        </p>
                    </div>
                    {
                        frontmatter?.img && (
                            <div class={`items-center w-full py-5`}>
                                <Image
                                    class="rounded-md"
                                    src={frontmatter.img}
                                    alt={frontmatter?.title}
                                />
                            </div>
                        )
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center md:pb-10">
        <div class="md:px-20 px-2 flex flex-col md:flex-row">
            <div class="md:w-4/6 w-full py-4 md:pr-5 overflow-x-hidden">
                {
                    frontmatter.type != "quick" && (
                        <div>
                    <h2 class="text-2xl py-2">
                        ➡️ Table of Contents
                    </h2>
                    <ul class="py-2">
                        {
                            headings.map((heading) => {
                                return (
                                    <li class="py-0.5 cursor-pointer transform hover:translate-x-1 transition duration-300 ease-in-out">
                                        <a
                                            href={`#${heading.slug}`}
                                            class=`text-lg ${heading.depth == 2 ? 'font-semibold' : ''} ${heading.depth == 3 ? 'pl-3 font-normal' : ''}`
                                        >
                                            {heading.text}
                                        </a>
                                    </li>
                                );
                            })
                        }
                    </ul>
                    <span class="block w-1/5 h-1 mb-2 md:mb-8 bg-black dark:bg-white"></span>
                </div>
                    )
                }
                <div class={`md:p-0 p-2 font-${frontmatter.font}`}>
                    <Content />
                </div>
            </div>
            <div
                id="recommended"
                class="md:w-1/3 w-full md:py-10 md:sticky md:pl-12 md:top-0 md:h-screen overflow-y-none flex flex-col"
            >
                <form onsubmit={
                        `window.location.href = '/search/' + document.getElementById('search').value; return false;`
                    }
                    class="md:pb-2"
                    >
                    <p>
                        Search the site easily:
                    </p>
                    <div class="flex bg-inherit cursor-auto flex-row items-center border-2 border-b-4 border-r-4 px-2 border-dark dark:border-primary rounded-lg w-full">
                        <input 
                        class="p-2 px-5 bg-inherit text-lg focus:outline-none w-5/6"
                        type="search" name="search" placeholder="Search using anything" id="search" />
                        <button class="w-1/6">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
                <div class="pb-2">
                    <h1 class="text-2xl py-2">⚙️ MetaData</h1>
                    <div class="text-sm leading-3">
                        <p class="text-base leading-relaxed">
                            Published {
                                    new Date(
                                        new Date().getTime() -
                                            new Date(frontmatter.date).getTime()
                                    ).getUTCDate() - 1
                                } days ago (
                                {
                                new Date(frontmatter.date).toDateString()
                                }
                            )
                        </p>
                        <p class="text-base leading-relaxed">
                            Avg {meta.remarkPluginFrontmatter.minutesRead} ({meta.remarkPluginFrontmatter.wordsRead} words)
                        </p>
                        <p class="text-base leading-relaxed">
                            Written with ❤️ by <a class="underline" href="https://twitter.com/noobscience1">{frontmatter.author}{' '}</a>
                        </p>
                        <p class="text-base">
                            Category: <a class="underline" href={'/categories/' + frontmatter.category}>{frontmatter.category}</a>
                        </p>
                    </div>
                </div>
                <h1 class="text-2xl py-2">~ Similar Articles</h1>
                {
                    recommended.length > 0 &&
                        recommended.map((post: any) => {
                            return (
                                <div class="cursor-pointer transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105">
                                    <a
                                        href={'/blog/' + post.slug}
                                        class="font-sans text-lg leading-loose"
                                    >
                                        {post.data.title}
                                    </a>
                                </div>
                            );
                        })
                }
                {
                    recommended.length == 0 && (
                        <div class="font-sans text-xl leading-loose">
                            No recommendations yet. Check back later!
                        </div>
                    )
                }
                <div class="py-5">
                    
                    <button
                        class="special_btn p-3 border-2 rounded-3xl border-black"
                    >
                        <a
                            href={`https://twitter.com/intent/tweet?url=${encodeURIComponent(
                                'https://' + share_url
                            )}&text=${
                                encodeURIComponent(frontmatter.title) +
                                '\n\n' +
                                frontmatter.description
                            }&via=noobscience1`}
                        >
                            <i class="bi bi-twitter"></i> Help me go viral on X
                        </a>
                    </button>
                    <button
                        class="special_btn p-3 border-2 rounded-3xl border-black"
                    >
                        <a
                            href={`https://api.whatsapp.com/send?text=${encodeURIComponent(
                                `${frontmatter.title}\n${
                                    frontmatter.description
                                }\n\nCheck it out: ${'https://' + share_url}`
                            )}`}
                        >
                            <i class="bi bi-whatsapp"></i> Argue with your friends
                        </a>
                    </button>
                    <button
                        class="special_btn p-3 border-2 rounded-3xl border-black"
                    >
                        <a
                            href={`https://www.reddit.com/submit?url=${encodeURIComponent(
                                'https://' + share_url
                            )}&title=${encodeURIComponent(frontmatter.title)}`}
                        >
                            <i class="bi bi-reddit"></i> Get upvoted on Reddit
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="flex flex-col md:flex-row justify-center md:pt-8">
            <div class="md:w-3/5 w-full">
                <h1 class="text-center text-2xl">
                    Feel free to leave a comment below!
                </h1>
                <script
                    src="https://utteranc.es/client.js"
                    repo="newtoallofthis123/comments"
                    issue-term="pathname"
                    label="comment"
                    theme="github-light"
                    crossorigin="anonymous"
                    async
                ></script>
            </div>
            <div class="md:w-2/5 w-full p-2">
                <h2 class="text-2xl">Niceties</h2>
                <div>
                    <p class="text-lg leading-relaxed py-2">
                        Hey! I am Ishan, I write most of the stuff on this
                        website. I just like the idea of a place where I can put
                        forth my thoughts and ideas. So, if you have any questions, feel
                        free to reach out to me on{' '}
                        <a
                            href="https://twitter.com/noobscience1"
                            class="text-sky-500 dark:text-lime-300"
                        >
                            Twitter
                        </a>
                    </p>
                </div>
                <h2 class="text-2xl">License</h2>
                <div>
                    <p class="text-lg leading-relaxed py-2">
                        This post is licensed under <a
                            href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
                            class="text-sky-500 dark:text-lime-300">CC BY-NC-SA 4.0</a
                        >. You can find the full text of the license <a
                            href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode"
                            class="text-sky-500 dark:text-lime-300">here</a
                        >.
                    </p>
                </div>
                <h2 class="text-2xl">This Post is Editable!</h2>
                <div>
                    <p class="text-lg leading-relaxed py-2">
                        I believe in the whole open source philosophy. So, if you
                        are interested in correcting or adding anything to the above post,
                        just send me a pull request on
                    </p>
                    <button class="special_btn rounded-3xl">
                        <a href=`https://github.com/newtoallofthis123/noobscience/tree/master/src/content/blog/${slug}.mdx`>
                            Send me a pull request on <i class="bi bi-github"></i> Github
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <style
        define:vars={{
            section_bg: frontmatter?.bg,
            section_color: frontmatter?.color,
        }}
    >
        .section_colored {
            background-color: var(--section_bg);
            color: var(--section_color);
        }
        #cat {
            background-color: var(--selection_bg);
            color: var(--selection_color);
        }
        .special_btn{
            background-color: var(--selection_bg);
        }
        .special_btn a {
            color: var(--selection_color);
        }
    </style>
</Base>
