---
import { getCollection} from 'astro:content';
import Base from '../../layouts/base.astro';
import HomeNav from '../../components/navigation/home_nav';
import UpdateArchive from '../../components/updates/archive';
import UpdateLatest from '../../components/updates/latest';
import { Image } from 'astro:assets';
import coffeeImage from "../../assets/coffee.webp"
import saplingImage from "../../assets/seedling.webp"

let posts = await getCollection('blog', ({data}) => {
    return data.draft !== true
});

posts = posts.sort(
    (a: any, b: any) =>
        new Date(b.data.date).getTime() -
        new Date(a.data.date).getTime()
);

let notes = posts.filter((post: any) => post.data.type == 'notes');
let long = posts.filter((post: any) => post.data.type == 'long');
let dev = posts.filter((post: any) => post.data.type == 'dev');
let others = posts.filter(
    (post: any) =>
        !notes.includes(post) && !long.includes(post) && !dev.includes(post)
);
---

<Base title="Ishan Writes">
    <div>
        <HomeNav title="Mussing" client:load />
        <div class="p-4">
            <div class="flex md:flex-row flex-col justify-center">
                <div class="md:w-4/6 w-full">
                    <h1
                        class="md:text-6xl text-4xl font-bold pb-5 font-serif leading-relaxed"
                    >
                        Welcome, to my place on the <span class="text-lime-400"
                            >Internet</span
                        >
                    </h1>
                    <p id="p-heading">
                        Where I am the boss! Okay, just kidding, but you are
                        still at the mercy of my whims. (Check your URL bar, you
                        are at my domain)
                    </p>
                    <span class="block w-40 h-1 mt-5 my-5 bg-blue-800"></span>
                    <div
                        class="flex md:flex-row flex-col py-4 md:gap-x-10 gap-x-5"
                    >
                        <button class="btn"
                            ><a href="#longs">Long Reads</a></button
                        >
                        <!-- <button class="btn"><a href="#notes">Notes and stuff</a></button> -->
                        <button class="btn"
                            ><a href="#quips">Quips and Quotes</a></button
                        >
                        <button class="btn"><a href="#dev">Devlogs</a></button>
                        <button class="btn"
                            ><a href="/archive">Archives</a></button
                        >
                    </div>
                    <span class="block w-40 h-1 mb-5 bg-red-600"></span>
                </div>
                <div class="md:w-2/6 w-full"></div>
            </div>
            <div class="flex md:flex-row flex-col justify-center">
                <div id="longs" class="md:w-3/6 w-full md:px-5 px-1">
                    <h1
                        class="md:text-5xl text-3xl leading-relaxed py-5 font-heading"
                    >
                        My Evergreen Posts
                    </h1>
                    <p>
                        You know how some stuff are just so good that they never
                        get old? Well, I have some of those too. I call them my
                        evergreen posts. They are long, detailed and are meant
                        to be read slowly. So, grab a cup of coffee and enjoy!
                    </p>
                    <p>
                        PS: I put a lot of effort into these posts, so if you
                        like them, please share them with your friends and
                        family.
                    </p>
                    <div>
                        <Image
                            class="md:w-4/6 w-full dark:invert"
                            src={coffeeImage}
                            alt="Coffee"
                        />
                    </div>
                </div>
                <div class="md:w-3/6 w-full md:p-4 py-6">
                    {
                        long.slice(0, 4).map((post) => {
                            return (
                                <div
                                    onclick={
                                        "location.href = '/blog/" + post.slug + "'"
                                    }
                                    class="md:p-4 md:my-5 p-1 transform hover:scale-105 hover:border-2 hover:border-gray-300 rounded-lg cursor-pointer transition duration-300 ease-in-out"
                                >
                                    <h1 class="md:text-3xl text-xl leading-relaxed font-bold">
                                        {post.data.emoji}{' '}
                                        {post.data.title}
                                    </h1>
                                    <p class="text-lg">
                                        {post.data.description}
                                    </p>
                                    <p class="text-lg">
                                        Posted on{' '}
                                        <span id="p-heading">
                                            {new Date(
                                                post.data.date
                                            ).toDateString()}
                                        </span>
                                    </p>
                                </div>
                            );
                        })
                    }
                    <p class="md:pt-6 md:p-4 p-2">
                        <a href="/type/long">
                            <span class="md:text-3xl text-xl font-bold"
                                >See all my evergreen posts</span
                            >
                        </a>
                    </p>
                    <span class="block w-full h-1 md:mt-5 md:my-5 bg-black"></span>
                </div>
            </div>
            <div>
                <h1
                    class="md:text-5xl text-2xl font-bold md:p-4 p-1 font-heading"
                >
                    What even is this?
                </h1>
                <div class="md:p-4 p-1">
                    <p>
                        This is in a sense, my personal internet space, or for
                        the nerds out there, my digital garden. The concept of a
                        digital garden is not new, but it is not very popular
                        either. So, basically a digital garden is a place where
                        I can share my thoughts, ideas, and opinions. These do
                        not have to be perfect, they can be rough, and they can
                        be incomplete, but still out there. So, this in a sense,
                        becomes a peaceful and safe place for me to share my
                        thoughts. Obviously other people can read it too, but I
                        am not writing for them, I am writing for myself. So, in
                        a sense, tending to a digital garden is like tending to
                        a real garden. You plant seeds, you water them, you take
                        care of them, and you watch them grow. And that is what
                        I am doing here.
                    </p>
                    <p>
                        If you can't already tell my looking at the design and
                        stuff, this site is losely inspired by <a
                            class="underline"
                            href="https://maggieappleton.com/garden-history"
                            >Maggie Appleton</a
                        >.
                    </p>
                    <p>
                        <a href="/archive">
                            <span class="text-2xl text-red-600 font-regular"
                                >See all my latest posts</span
                            >
                        </a>
                    </p>
                </div>
            </div>
            <div>
                <h1
                    id="notes"
                    class="md:text-5xl md:mx-4 mt-3 text-3xl font-bold md:p-4 p-2 font-heading"
                >
                    My Jots and Notes
                </h1>
                <div class="md:grid md:grid-cols-2 gap-4">
                    {
                        notes.slice(0, 6).map((post) => {
                            return (
                                <div
                                    onclick={
                                        "location.href = '/blog/" + post.slug + "'"
                                    }
                                    class="md:p-4 md:m-2 p-1 transform hover:scale-105 hover:border-2 hover:border-gray-300 rounded-lg cursor-pointer transition duration-300 ease-in-out"
                                >
                                    <h1 class="text-2xl leading-relaxed font-bold">
                                        {post.data.emoji}{' '}
                                        {post.data.title}
                                    </h1>
                                    <p class="md:text-xl text-lg">{post.data.description}</p>
                                    <p class="md:text-xl text-lg">
                                        <span id="p-heading">
                                            #{post.data.category}
                                        </span>
                                    </p>
                                </div>
                            );
                        })
                    }
                </div>
            </div>
            <span class="block w-2/5 bg-red-600 h-0.5 my-10"></span>
            <div id="quips" class="flex flex-col md:flex-row justify-center">
                <div class="md:w-2/5 w-full">
                    <h1
                        class="md:text-4xl text-3xl font-heading my-2 md:p-4 p-1"
                    >
                        Few Quips and Quotes
                    </h1>
                    <p class="md:p-4 p-1">
                        These are a few musings and so that I write almost
                        everyday. They are separate from my garden. You can
                        think of them as my journal.
                    </p>
                    <UpdateArchive num={8} client:idle />
                </div>
                <div class="hidden md:block md:w-3/5 w-full">
                    <UpdateLatest client:idle />
                </div>
                <div class="block md:hidden md:w-3/5 w-full">
                    <UpdateLatest slice_length={100} client:idle />
                </div>
            </div>
            <span class="block w-2/5 bg-blue-600 h-0.5 my-10"></span>
            <div id="quicks" class="flex flex-col md:flex-row justify-center">
                <div class="md:w-1/2 md:px-5 px-1">
                    <h1 class="md:text-5xl text-3xl pb-4 font-heading">
                        Miscellaneous
                    </h1>
                    <p class="py-2"></p>
                    <div>
                        <Image
                            class="md:w-3/5 w-full dark:invert"
                            src={saplingImage}
                            alt="Seedling.webp"
                        />
                    </div>
                </div>
                <div class="md:w-1/2 w-full md:px-10 px-2">
                    {
                        others.slice(0, 3).map((post) => {
                            return (
                                <div
                                    onclick={
                                        "location.href = '/blog/" + post.slug + "'"
                                    }
                                    class="md:p-4 px-1 my-5 transform hover:scale-105 hover:border-2 hover:border-gray-300 rounded-lg cursor-pointer transition duration-300 ease-in-out"
                                >
                                    <span id="p-heading">
                                        @{post.data.category}
                                    </span>
                                    <h1 class="md:text-3xl text-2xl leading-relaxed font-bold">
                                        {post.data.emoji}{' '}
                                        {post.data.title}
                                    </h1>
                                    <p class="md:text-lg text-base">
                                        {post.data.description}
                                    </p>
                                    <p class="md:text-lg text-base">
                                        Posted on{' '}
                                        <span id="p-heading">
                                            {new Date(
                                                post.data.date
                                            ).toDateString()}
                                        </span>
                                    </p>
                                </div>
                            );
                        })
                    }
                </div>
            </div>
        </div>
        <div id="dev" class=" md:p-10 p-4">
            <div class="font-mono text-lime-300 bg-gray-900 dark:bg-black p-2 rounded-lg">
                <h1 class="md:text-4xl text-2xl pb-4 font-bold">
                    Some of my Devlogs
                </h1>
                <p class="text-lg">
                    I am a developer at heart after all, so I do write about my dev
                    stuff. Although not too much, since I believe that there are
                    already a lot of people out there who are doing a much better
                    job than me.
                </p>
            </div>
            {
                dev.map((post) => {
                    return (
                        <div
                            onclick={"location.href = '/blog/" + post.slug + "'"}
                            class="md:p-4 md:my-2 my-3 p-2 transform hover:scale-105 hover:border-2 hover:border-gray-300 rounded-lg cursor-pointer transition duration-300 ease-in-out"
                        >
                            <span id="p-heading">
                                @{post.data.category}
                            </span>
                            <h1 class="md:text-3xl text-xl leading-relaxed font-bold">
                                {post.data.emoji}{' '}
                                {post.data.title}
                            </h1>
                            <p class="text-lg">
                                {post.data.description}
                            </p>
                            <p class="text-lg">
                                Posted on{' '}
                                <span id="p-heading">
                                    {new Date(
                                        post.data.date
                                    ).toDateString()}
                                </span>
                            </p>
                        </div>
                    );
                })
            }
        </div>
    </div>
</Base>
<style is:inline>
    #p-heading {
        font-weight: 400;
    }
</style>
