---
//@ts-ignore
import { getCollection } from 'astro:content';
import Base from '../../layouts/base.astro';
import HomeNav from '../../components/navigation/home_nav';

const { series } = Astro.params;

let posts = await getCollection('blog', ({ data }) => {
    return data.draft !== true;
});

posts = posts.sort(
    (a: any, b: any) =>
        new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
posts = posts.filter((post: any) => post.data.series === series);
let num = 0;
---

<Base title="Archives">
    <HomeNav client:load />
    <div class="md:p-10 p-2">
        <div>
            <h1 class="md:text-6xl text-4xl font-heading p-4">
                The {series}
            </h1>
            <p class="md:px-4 px-2">
                Below are all of my posts tagged {series}. If you're looking
                for something specific, try using the search bar above.
            </p>
        </div>
        <div>
            {
                posts.map((post) => {
                    return (
                        <div
                            onclick={
                                "location.href = '/blog/" + post.slug + "'"
                            }
                            class="md:p-4 md:m-4 p-2 rounded-lg cursor-pointer"
                        >
                            <p>
                                Part: {
                                    (num = num + 1)
                                }{' '}
                            </p>
                            <h1 class="md:text-3xl text-2xl leading-relaxed font-bold">
                                {post.data.emoji} {post.data.title}
                            </h1>
                            <p class="py-2">{post.data.description}</p>
                            <p>
                                Posted on{' '}
                                <span id="p-heading">
                                    {new Date(post.data.date).toDateString()}
                                </span>{' '}
                                | {post.data.minutesRead}
                            </p>
                        </div>
                    );
                })
            }
        </div>
    </div>
</Base>
