---
import Base from "../layouts/base.astro";
import HomeNav from "../components/navigation/home_nav";
import { Image } from "astro:assets";
import * as icons from 'simple-icons';

import profile from "../assets/profile.png"
---

<Base nav_title="About Me" title="About Me" bg="#ee72bc" color="#000">
    <div class="p-1">
        <div class="flex flex-col justify-center items-center">
            <div class="w-2/6">
                <div>
                    <Image 
                    class="w-full h-auto" 
                    src={profile} 
                    alt="Ishan's Profile Image">
                </div>
            </div>
            <div class="w-full p-4 md:mx-10">
                <h1 class="text-2xl py-2 font-bold font-heading">
                    Hello Hello! Namaste!
                </h1>
                <div>
                    <p>
                        I am Ishan. I am a student and tech Enthusiast
                        from India (So unique, I know). I am currently
                        pursuing my Bachelors in Computer Science and
                        Engineering. I am a Full Stack Developer and
                        Machine Learning Enthusiast. I love to learn
                    </p>
                    <button class="bg-dark text-light rounded-lg p-2 my-4">
                        <a class="text-lg" href="/contact">
                            Have a chat    
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <h1>
        </h1>
        <div class="w-full bg-light text-dark rounded-lg px-4">
            <h1 class="text-xl font-bold py-2">
                My Skills and Languages
            </h1>
            <ul class="skills_ul flex flex-row">
                <li><a href="https://python.org" set:html={icons.siPython.svg}></a></li>
                <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" set:html={icons.siJavascript.svg}></a></li>
                <li><a href="https://www.typescriptlang.org/" set:html={icons.siTypescript.svg}></a></li>
                <li><a href="https://www.rust-lang.org/" set:html={icons.siRust.svg}></a></li>
                <li><a href="https://en.wikipedia.org/wiki/C_(programming_language)" set:html={icons.siC.svg}></a></li>
            </ul>
            <h1 class="text-xl font-bold py-2">
                Libraries
            </h1>
            <ul class="skills_ul flex flex-row">
                <li><a href="https://flask.palletsprojects.com/en/" set:html={icons.siFlask.svg}></a></li>
                <li><a href="https://numpy.org" set:html={icons.siNumpy.svg}></a></li>
                <li><a href="https://pandas.pydata.org" set:html={icons.siPandas.svg}></a></li>
                <li><a href="https://react.dev" set:html={icons.siReact.svg}></a></li>
                <li><a href="https://expressjs.com" set:html={icons.siExpress.svg}></a></li>
                <li><a href="https://expressjs.com" set:html={icons.siTailwindcss.svg}></a></li>
                <li><a href="https://jquery.com" set:html={icons.siJquery.svg}></a></li>
            </ul>
            <h1 class="text-xl font-bold py-2">
                Frameworks
            </h1>
            <ul class="skills_ul flex flex-row">
                <li><a href="https://nextjs.org/" set:html={icons.siNextdotjs.svg}></a></li>
                <li><a href="https://astro.build" set:html={icons.siAstro.svg}></a></li>
                <li><a href="https://www.djangoproject.com" set:html={icons.siDjango.svg}></a></li>
                <li><a href="https://scikit-learn.org" set:html={icons.siScikitlearn.svg}></a></li>
                <li><a href="https://www.tensorflow.org" set:html={icons.siTensorflow.svg}></a></li>
                <li><a href="https://pytorch.org" set:html={icons.siPytorch.svg}></a></li>
            </ul>
            <h1 class="text-xl font-bold py-2">
                Tools
            </h1>
            <ul class="skills_ul flex flex-row">
                <li><a href="https://github.com" set:html={icons.siGithub.svg}></a></li>
                <li><a href="https://vercel.com" set:html={icons.siVercel.svg}></a></li>
                <li><a href="https://colab.research.google.com/" set:html={icons.siGooglecolab.svg}></a></li>
                <li><a href="https://code.visualstudio.com" set:html={icons.siVisualstudiocode.svg}></a></li>
                <li><a href="https://figma.com" set:html={icons.siFigma.svg}></a></li>
            </ul>
            <h1 class="text-xl font-bold py-2">
                Db's and Cloud
            </h1>
            <ul class="skills_ul flex flex-row">
                <li><a href="https://www.sqlite.org/index.html" set:html={icons.siSqlite.svg}></a></li>
                <li><a href="https://postgresql.org/" set:html={icons.siPostgresql.svg}></a></li>
                <li><a href="https://www.mongodb.com" set:html={icons.siMongodb.svg}></a></li>
                <li><a href="https://docker.com/" set:html={icons.siDocker.svg}></a></li>
                <li><a href="https://en.wikipedia.org/wiki/Linux" set:html={icons.siLinux.svg}></a></li>
            </ul>
        </div>
    </div>
</Base>
<style is:inline>
    .skills_ul li{
        width: 1.8rem;
        height: 1.8rem;
        margin: 1rem 0.6rem;
    }
    .skills_ul svg{
        color: inherit;
    }
</style>