---
import Base from "../layouts/base.astro";
import HomeNav from "../components/navigation/home_nav";
import { getCollection } from "astro:content";

let posts = await getCollection('blog', ({data}) => {
    return data.draft !== true
});

posts = posts.sort(
    (a: any, b: any) =>
        new Date(b.data.date).getTime() -
        new Date(a.data.date).getTime()
);
posts = posts.filter((post: any) => post.data.draft != true);
---

<Base title="Archives">
    <HomeNav client:load/>
    <div class="md:p-10 p-1">
        <div>
            <h1 class="md:text-6xl text-4xl font-heading md:p-4 p-2">
                Archives ({posts.length})
            </h1>
            <p class="px-4">
                I recommend you go to 
            </p>
        </div>
        <div>
            {
                posts.map((post) => {
                    return (
                        <div onclick={
                                    "location.href = '/blog/" + post.slug + "'"
                                } class="md:p-4 md:m-4 p-2 transform hover:scale-105 hover:border-2 hover:border-gray-300 rounded-lg cursor-pointer transition duration-300 ease-in-out">
                            <p>{
                                post.data.type.slice(0, 1).toUpperCase() + post.data.type.slice(1, post.data.type.length)
                            }</p>
                                <h1 class="md:text-3xl text-2xl leading-relaxed font-bold">
                                {post.data.emoji}{' '}{post.data.title}
                            </h1>
                            <p class="text-lg py-4">
                                {post.data.description}    
                            </p>
                            <p>
                                Posted on <span id="p-heading">{new Date(post.data.date).toDateString()}</span> | {post.data.minutesRead}
                            </p>
                        </div>
                    )
                })
            }
        </div>
    </div>
</Base>