---
import { getCollection } from "astro:content";
import Base from "../layouts/base.astro";
import HomeNav from "../components/navigation/home_nav";
import Notification from "../components/utils/notification/notification";
import UpdateLatest from "../components/updates/latest";
import welcomeImg from "../assets/welcome.webp"
import circleSvg from "../assets/circle.svg"
import logoDark from "../assets/logo512.png"
import { Image } from "astro:assets";

const options = [
    'is a Developer',
    'is into ML now',
    'creates websites',
    'is a student',
]

let posts = await getCollection('blog', ({data}) => {
    return data.draft !== true
});

posts = posts.sort(
    (a: any, b: any) =>
        new Date(b.data.date).getTime() -
        new Date(a.data.date).getTime()
);
const latest = posts.filter((post: any) => post.data.type != 'quick').slice(0, 6)
---

<Base title="NoobScience | Student and Open Source Enthusiast">
    <div>
        <HomeNav title="NOOBSCIENCE" client:load />
        <div class="z-0 md:px-20  md:py-14 p-5">
            <div class="font-serif text-gray-900 dark:text-gray-200">
                <div>
                    <h1 class="md:text-7xl leading-snug text-4xl">
                        <a href="/about" class="font-bold dark:text-white text-black leading-snug md:text-8xl text-6xl cursor-help transform duration-500">Ishan</a> 
                            {' '}{options[Math.floor(Math.random() * options.length)]}
                    </h1>
                </div>
                <h1 class="md:py-10 md:text-6xl leading-snug text-4xl font-bold">
                    and he's known as <span class="text-lime-400 p-1">NoobScience</span>.
                </h1>
            </div>
            <div class="flex md:flex-row flex-col justify-center items-center">
                <div class="md:w-4/5 w-full">
                    <div class="md:p-0 py-5">
                        <p>
                            Mostly Codes and Drinks Coffee.
                        </p>
                        <p>
                            1st Student At GRIET.
                        </p>
                    </div>
                    <div class="">
                        <Notification client:load />
                    </div>
                </div>
                <div class="md:block hidden md:w-1/4 w-full">
                    <Image class="w-2/6" src={circleSvg} alt="Circle Svg">
                </div>
            </div>
            <span class="block w-1/5 h-1 mt-8 bg-red-600"></span>
            <div>
                <h1 class="py-4 text-3xl font-mono">
                    <a href="/about" class="bg-green-100 dark:text-black p-1">Know me more</a>
                </h1>
                <p class="text-lg">
                    By the way, you should scroll down or check out my writings
                </p>
            </div>
            <div class="flex pt-4 md:flex-row flex-col justify-center">
                <div class="md:w-3/5 w-full">
                    <h1 class="md:text-5xl text-3xl py-5 pt-8 font-bold">
                        Cool Stuff, I do
                    </h1>
                    <p>
                        Hi! I am Ishan. Get to know me from these bullets.
                    </p>
                    <ul class="list-none font-normal py-3">
                        <li>
                            🎒 1st year Student at GRIET
                        </li>
                        <li>
                            🧑‍💻 Full Developer and Coder
                        </li>
                        <li>
                            <i class="bi bi-github pl-1"></i> Open Source Enthusiast
                        </li>
                        <li>
                            📝 Opinionated Writer
                        </li>
                        <li>
                            🤖 Learning to teach Machines
                        </li>
                        <li>
                            📱 Trying to distance from Social Media
                        </li>
                        <li>
                            🌐 Loves building and maintaining sites
                        </li>
                        <li>
                            🐶 Dog Lover
                        </li>
                        <li></li>
                    </ul>
                </div>
                <div class="md:w-3/5 w-full">
                    <div>
                        <h1 class="text-3xl font-heading text-center py-2">
                            Latest Update
                        </h1>
                        <UpdateLatest slice_length={250} client:load />
                    </div>
                </div>
            </div>
            <div>
                <h1 class="text-5xl py-5 pt-8 font-bold">
                    Latest Posts
                </h1>
                <div class="grid md:grid-cols-2 md:gap-4">
                    {latest.map((post) => {
                        return (
                            <div onclick={"location.href = '/blog/" + post.slug + "'"} class="md:p-3 p-1 my-1 transform hover:scale-105 hover:border-2 hover:border-gray-300 rounded-lg cursor-pointer transition duration-300 ease-in-out">
                                <h1 class="text-2xl leading-relaxed font-bold">
                                    {post.data.emoji}{' '} {post.data.title}
                                </h1>
                                <p class="md:text-xl text-lg leading-relaxed">
                                    {post.data.description}    
                                </p>
                                <p class="md:text-xl text-lg leading-relaxed">
                                    Posted on <span>{new Date(post.data.date).toDateString()}</span>
                                </p>
                            </div>
                        );
                    })}
                </div>
            </div>
        </div>
    </div>
</Base>
<style is:inline>
    #heading{
        line-height: 4rem;
    }
    @media screen and (max-width: 768px){
        #heading{
            line-height: 3rem;
        }    
    }
</style>